doctype html
html(lang="en")
    head
        title My Site
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    body
        #container.bs-docs-header
            .container
                h1 
                    a(href="http://localhost:5000") localhost:8000
                    span= path
                        
                p The Weather Thing Resource Root